:root {
  --default: #ff8c00;
  --default-opacity1: #32587aa3;
  --default-gradient: #397bb5;
  --secondary: #0082bf;
  --secondary-gradient: #01628f;
  --secondary-opacity1:#01628f;
  --dark: #000;
  --dark-bg: #000;
  --light-color: #fff;
  --light-bg: #f6f6f6;
  --medium-color: #a3b1bf;
  --tint-color: #3f8dbf;
  --shadow: #a3b1bf;
  --shadow2: #506a85;
  --gray: #777;
  --gray2: #a7a7a7;
  --gray3: #c6c6c6;
  --gray4: #e0e0e0;
  --red: #c50000;
  --danger: #ff1000;
  --green: #4caf50;
  --green-light: #6cbb4d;
  --success: #28a745;
  --blue: #3f8dbf;
  --pink: #d487be;
  --purple: #9b59b6;
  --medium-violetred: #c71585;
  --orange: #f27a24;
  --navy: #1f1f1f;
  --cor0: #ffb441;
  --cor1: #ff8c00;
  --cor2: #e78002;
  --cor3: #d47602;
  --cor4: #c26b01;
  --cor5: #b96600;
  --cor6: #a75c01;
  --cor8: #975401;
  --bg-gray: #e1e7ed;
  --screen-width: 100%;
  --screen-height: 1000px;
  --splash-bg-color: #3BAFDA;
}
a,
blockquote span {
  color: var(--default);
}
a.button_full,
a.button_small,
.call_button a {
  background-color: var(--default);
}
a:hover {
  color: var(--dark);
}
.logo h2 {
  color: #4a250a;
}
h2.page_title {
  border-bottom: 3px var(--default) solid;
}
#loadMore img,
#header {
  background-color: var(--default);
}
#header {
  color: var(--light-color);
}
#pages_maincontent h3 {
  color: var(--default);
}
.post_date,
#loadMore {
  color: var(--default);
}
.contactform input.form_submit,
.loginform input.form_submit,
.commentform input.form_submit {
  background-color: #839109;
}
.ui-page-theme-b .ui-btn.ui-btn-active,
html .ui-bar-b .ui-btn.ui-btn-active,
html .ui-body-b .ui-btn.ui-btn-active,
html body .ui-group-theme-b .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-b.ui-btn-active,
.ui-page-theme-b .ui-checkbox-on::after,
html .ui-bar-b .ui-checkbox-on::after,
html .ui-body-b .ui-checkbox-on::after,
html body .ui-group-theme-b .ui-checkbox-on::after,
.ui-btn.ui-checkbox-on.ui-btn-b::after,
.ui-page-theme-b .ui-flipswitch-active,
html .ui-bar-b .ui-flipswitch-active,
html .ui-body-b .ui-flipswitch-active,
html body .ui-group-theme-b .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active,
.ui-page-theme-b .ui-slider-track .ui-btn-active,
html .ui-bar-b .ui-slider-track .ui-btn-active,
html .ui-body-b .ui-slider-track .ui-btn-active,
html body .ui-group-theme-b .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-b .ui-btn-active {
  background-color: var(--default);
  border-color: var(--default);
  color: #fff;
  text-shadow: 0px 1px 0px var(--default);
}
.slide_info {
  color: #f1d989;
}
/* Page and overlay */
.ui-overlay-a {
  background-color: #fff;
}
#homepage,
#homepage .ui-panel-wrapper {
  background-color: var(--default);
}
.secondarypage,
.secondarypage .ui-panel-wrapper {
  background-color: #fff;
}
/* Navigation Links */
.main-nav ul li:nth-child(1) {
  background-color: var(--cor1);
}
.main-nav ul li:nth-child(2) {
  background-color: var(--cor2);
}
.main-nav ul li:nth-child(3) {
  background-color: var(--cor3);
}
.main-nav ul li:nth-child(4) {
  background-color: #7f5529;
}
.main-nav ul li:nth-child(5) {
  background-color: #6e4820;
}
.main-nav ul li:nth-child(6) {
  background-color: #633f19;
}
.main-nav ul li:nth-child(7) {
  background-color: #5a3814;
}
.main-nav ul li:nth-child(8) {
  background-color: #512e0a;
}
.main-nav ul li:nth-child(9) {
  background-color: #4a2907;
}
.main-nav ul li:nth-child(10) {
  background-color: #532c05;
}
.main-nav ul li:nth-child(11) {
  background-color: #412305;
}
.main-nav ul li:nth-child(12) {
  background-color: #351d04;
}
.main-nav ul li:nth-child(13) {
  background-color: #261402;
}
.main-nav ul li:nth-child(14) {
  background-color: #1c0f02;
}
.main-nav ul li:nth-child(15) {
  background-color: #170c02;
}
.main-nav ul li:nth-child(16) {
  background-color: #140b01;
}
.main-nav ul li:nth-child(17) {
  background-color: #110901;
}
.main-nav ul li:nth-child(18) {
  background-color: #0d0701;
}
.main-nav ul li:nth-child(19) {
  background-color: #0b0600;
}
.main-nav ul li:nth-child(20) {
  background-color: #030200;
}
.main-nav ul li a,
.main-nav ul li a:visited,
.main-nav ul li a:hover {
  color: #fff;
}
/* Pages Header BG */
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
  background-color: var(--default) /*{b-bar-background-color}*/;
  color: #fff /*{b-bar-color}*/;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
  color: #fff /*{b-body-color}*/;
  text-shadow: none;
}
.user_details {
  background-color: #9c6e3e;
}
.user-nav ul li {
  border-bottom: 1px #9c6e3e solid;
}
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
  color: #fff;
  text-shadow: none;
}
.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
  background-color: transparent;
  border-color: transparent;
}
input.search-top {
  background: #fff;
  color: #000;
}

.ui-overlay-b,
.ui-page-theme-b,
.ui-page-theme-b .ui-panel-wrapper {
  background-color: var(--light-color);
}
.tit,
a.more.ui-link {
  color: var(--default);
}
.lista a,
a:hover.more.ui-link {
  color: var(--dark);
}
.lista a.row {
  border-bottom: 2px solid var(--gray4);
}
.status-pedido-online {
  background: #118cf1;
  color: var(--light-color);
}
footer {
  background: var(--default);
  color: var(--light-color);
}
.ui-page-theme-b .ui-btn,
html .ui-bar-b .ui-btn,
html .ui-body-b .ui-btn,
html body .ui-group-theme-b .ui-btn,
html head + body .ui-btn.ui-btn-b,
.ui-page-theme-b .ui-btn:visited,
html .ui-bar-b .ui-btn:visited,
html .ui-body-b .ui-btn:visited,
html body .ui-group-theme-b .ui-btn:visited,
html head + body .ui-btn.ui-btn-b:visited {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  text-shadow: none;
}