body {
  background-color: #f7f7f7 !important;
}
#wrapper {
  background-color: #f7f7f7 !important;
}
.nav-header {
  padding-top: 0;
  background-position: center;
  background-image: url(patterns/header-profile-trans.png);
  background-color: #0587bf;
}
#side-menu li {
  border-bottom: 1px solid #076994;
}
#side-menu .profile-element ul {
  background: #333333;
}
#side-menu .profile-element ul li a:hover {
  background: #f69130 !important;
}
.navbar-fixed-top,
.navbar-static-top {
  background: #f7f7f7 !important;
}
.page-heading {
  margin-top: -20px;
  padding-bottom: 10px;
  width: calc(100% + 25px);
  float: right;
  margin-bottom: 2px;
}
.icon-heading {
  margin-top: 15px;
  color: #cccccc;
}

.dataTables_filter {
  text-align: left !important;
}
.parsley-errors-list {
  color: #b32721;
  list-style: none;
  padding: 0;
  margin: 0;
}
input.parsley-error,
input.parsley-error:focus {
  border-color: #b32721;
}
td {
  vertical-align: middle !important;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid #ccc;
}
.project-people,
.project-actions {
  text-align: center;
}
.message-avatar {
  border-radius: 50%;
}

#chat .chat-message .user-image {
  width: 50px;
  height: 50px;
}
#chat .chat-message.right .user-image {
  float: right;
}
#chat .chat-message.left .user-image {
  float: left;
}
#chat .chat-message.left .message {
  background-color: #fcf8e3;
}
#chat .chat-message.modelo {
  display: none;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #e5e6e7 !important;
  border-radius: 1px;
  padding: 6px 12px;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: #dddddd;
}

#edit .ibox-title {
  background-color: #f7f7f7;
  color: #ffffff;
}
#edit .label {
  margin-bottom: 0px;
}
#edit .form-group {
  margin-bottom: 5px;
}
#edit input:focus,
#edit select:focus,
#edit textarea:focus {
  background-color: #fffee2;
}
.valor {
  text-align: right !important;
}

.nav > li > a:hover,
.nav .active ul.nav-second-level > li > a:hover,
.nav .active,
.nav .active a,
.nav .active ul {
  background: #f69130 !important;
  color: #ffffff !important;
}
.nav .dropdown-menu a,
.nav .dropdown-menu a:hover {
  color: #f7f7f7 !important;
}
#wrapper,
.nav a {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00608a+49,0687bf+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00608a+70,006aad+100 */
  background: #00608a; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #00608a 70%,
    #006aad 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #00608a 70%,
    #006aad 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #00608a 70%,
    #006aad 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00608a', endColorstr='#006aad',GradientType=1 ); /* IE6-9 */

  border-color: #ffffff !important;
}
.nav a {
  color: #f7f7f7 !important;
}
.btn-primary {
  background: #0098da !important;
  border-color: #0098da !important;
  color: #ffffff !important;
}
.btn-primary:hover {
  background: #0098da !important;
  border-color: #0098da !important;
  color: #ffffff !important;
}
.nav-header {
  background: #00608a !important;
}
.nav-header .text-muted {
  color: #f7f7f7;
}
.nav-second-level li:last-child {
  margin-bottom: 5px;
}
.nav-second-level li a {
  padding-left: 35px;
}
ul.nav-second-level {
  background: #0098da !important;
}
/*a { color: #B8622B; }*/

.select2-container--default .select2-selection--multiple {
  padding: inherit;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background: #0098da;
  border: inherit;
  color: #ffffff;
}
.select2-container {
  width: 100% !important;
}
.select2-container .select2-selection--single {
  background-color: #ffffff !important;
  background-image: none !important;
  border: 1px solid #e5e6e7 !important;
  border-radius: 1px !important;
  color: inherit !important;
  display: block !important;
  height: 34px;
}
.select2-container .select2-selection__rendered {
  padding: 2px 12px !important;
}

.tabs-container .active {
  background: inherit !important;
}

#produtos .col-sm-4:nth-child(4n) {
  clear: both;
}

.iframe_pedidos {
  width: 100%;
  height: 1500px;
}

.sem_overflow {
  overflow-y: hidden;
}

.sem_overflow::-webkit-scrollbar {
  display: none;
}

.img-responsive {
  margin: 1.5em 0 2em !important;
}

.usuario {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
  min-width: 152px;
  text-align: right;
}

.usuario .dropdown-toggle div {
  display: inline-block;
  vertical-align: middle;
}

.usuario .dropdown-toggle div:nth-child(1) {
  margin-right: 1em;
}

.usuario .user-image {
  width: 40px;
  height: 40px;
}

.caret {
  margin-left: 3px;
  border-top: 5px dashed !important;
  margin-top: -3px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.num_ped {
  float: right;
}

.badge-light {
  background-color: white;
}

.badge-dark {
  background-color: #333;
  color: white;
}

.border-warning .list-group .active {
  background-color: #ffc107;
  border-bottom: 0;
}

.border-success .list-group .active {
  background-color: #28a745;
  border-bottom: 0;
}

.border-info .list-group .active {
  background-color: #17a2b8;
  border-bottom: 0;
}

.border-primary .list-group .active {
  border-bottom: 0;
}

.forts {
  font-weight: 600;
}

.list-group .active {
  color: white !important;
}

.list-group .active:hover {
  color: white !important;
}

.bg-dark {
  background-color: #333 !important;
  border-color: #333 !important;
}

.bg-green {
  background-color: #27a243 !important;
  border-color: #27a243 !important;
}

.bg-info {
  background-color: #0069d9 !important;
  border-color: #0069d9 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.card-deck .card {
  padding: 0 12px 0 0 !important;
}

.card-deck .card:last-child {
  padding: 0 !important;
}

.card-deck .card .list-group {
  background: white;
}

.bloco {
  display: block;
  padding: 0 1em;
  margin-bottom: 1em;
}

.bloco:last-child {
  margin-bottom: 0 !important;
}

.bloco a {
  margin-right: 0.7em;
}

.busca .input-group {
  width: calc(50% - 30px);
}

.busca .input-group .glyphicon-search {
  position: absolute;
  right: -30px;
  top: 10px;
}

.pedido_aberto {
  min-height: 200px;
  background-color: white;
  border-radius: 3px;
}

.lista_dl dl {
  margin: 0;
}

.lista_dl dt {
  font-weight: 400;
  float: left;
}

.lista_dl dd {
  float: right;
}

#thumbnails {
  list-style-type: none;
  padding: 0.5em;
  margin: 5px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

#thumbnails li {
  cursor: all-scroll;
  padding: 0;
  margin: 0.5em;
}

#thumbnails li img {
  width: 100%;
}

#json_estabelecimento {
  display: none;
}
