#cart {
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index: 99999999;
}

#cart i,
#cart .fa {
    font-size: 20px;
    text-align: center;
    min-height: 40px;
    min-width: 38px;
    line-height: 32px;
    display: inline-block;
    border-radius: 50%;
}

#cart .cart-total {
    position: relative;
    top: -25px;
    left: -8px;
    font-size: 0.95em;
    min-width: 35px;
    min-height: 35px;
    line-height: 35px;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
}

#cart .cart-icon3 {
    background: #f5ab35;
    color: black;
    border: 2px outset #f5ab35;
}

#cart .cart-total-3 {
    background: #ffffff;
    border: 2px inset #0081bf;
    border-bottom-left-radius: 10px;
}

#vue-cart .cart {
    background-color: var(--secondary);
    border-radius: 6px;
}


@-webkit-keyframes openUp {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes openUp {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}

#vue-cart button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.2em 0.5em;
    margin: 0.3em 0;
    background: white;
    border: 1px solid #4e91c3;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-size: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#vue-cart button .fa {
    font-size: 1em !important;
    vertical-align: middle;
}

#vue-cart button:hover {
    color: white;
    background: #4e91c3;
}

#vue-cart input {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    width: 50px;
    background: white;
    border: 1px solid #4e91c3;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-size: 14px;
}

#vue-cart label {
    font-size: 0.75em;
    margin-right: 0.5em;
}

#vue-cart .checkout-area table {
    margin: 0 auto;
    padding: 0.5em;
    width: 100%;
    max-width: 40em;
    text-align: left;
}

#vue-cart .checkout-area table th,
#vue-cart .checkout-area table td {
    padding: 0 0.25em;
}

@media (max-width: 600px) {

    #vue-cart .checkout-area table th:nth-child(3),
    #vue-cart .checkout-area table td:nth-child(3) {
        display: none;
    }
}

#vue-cart .cart .cart-itens .cartTable td {
    color: #000 !important;
}

#vue-cart .align-left {
    text-align: left;
}

#vue-cart .align-center {
    text-align: center;
}

#vue-cart .align-right {
    text-align: right;
}

#vue-cart .vert-bottom {
    vertical-align: bottom;
}

#vue-cart .vert-middle {
    vertical-align: middle;
}

#vue-cart {
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
}

#vue-cart .cart {
    width: 100%;
    position: fixed;
    right: 0em;
    bottom: 2em;
    text-align: right;
    background: rgba(41, 128, 185, 0.85);
    color: white;
    z-index: 9999999;
}

#vue-cart .cart .fa-shopping-cart {
    line-height: 8px;
    font-size: 14px;
}

#vue-cart .cart .cart-size {
    cursor: pointer;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#vue-cart .cart .fa-shopping-cart {
    padding: 1em 1em 1em 0;
}

#vue-cart .cart .cart-size {
    padding: 1em 0 1em 1em;
}

#vue-cart .cart .cart-items {
    padding: 0 1em 0 1em;
}

#vue-cart .cart .cart-items .cartTable {
    width: 20em;
}

#vue-cart .cart .cart-items .cartImage {
    width: 4em;
    height: 4em;
    margin: 0.5em auto;
    position: relative;
    cursor: pointer;
}

#vue-cart .cart .cart-items .cartImage:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

#vue-cart .cart .cart-items .cartImage i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    z-index: 1;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#vue-cart .cart .cart-items .cartImage:hover i {
    text-shadow: 1px 2px 5px black;
}

#vue-cart .cart .cart-items .cartImage:hover:after {
    background: rgba(0, 0, 0, 0.5);
}

#vue-cart .cart .cart-items .cartImage:active i {
    text-shadow: 0px 0px 1px black;
}

#vue-cart .cart .cart-items .cartSubTotal {
    border-top: 1px solid white;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

#vue-cart .cart .cart-items .clearCart {
    float: left;
    margin-top: 2em;
    margin-bottom: 1.25em;
}

#vue-cart .cart .cart-items .checkoutCart {
    float: right;
    margin-top: 2em;
    margin-bottom: 1.25em;
}

#vue-cart .products {
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
}

#vue-cart .products .product {
    display: inline-block;
    margin: 0.75em;
    width: 100%;
    max-width: 18em;
}

#vue-cart .products .product .image {
    width: 18em;
    height: 18em;
    margin-bottom: 0.5em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}

@media (max-width: 600px) {
    #vue-cart .products .product .image {
        width: 100vw;
        height: 100vw;
    }
}

#vue-cart .products .product .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#vue-cart .products .product .image:after {
    content: "\f00e";
    font-family: "FontAwesome";
    position: absolute;
    top: 250%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    pointer-events: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#vue-cart .products .product .image:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#vue-cart .products .product .image:hover:before {
    opacity: 1;
}

#vue-cart .products .product .image:hover:after {
    top: 50%;
}

#vue-cart .products .product .name {
    font-weight: bold;
    font-size: 1.25em;
}

#vue-cart .products .product .description {
    font-style: italic;
}

#vue-cart .products .product .price {
    font-weight: bold;
}

#vue-cart .modalWrapper {
    position: relative;
}

#vue-cart .modalWrapper .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

#vue-cart .modalWrapper .prevProduct,
.main-wrapper #vue .modalWrapper .nextProduct {
    position: fixed;
    color: white;
    font-size: 2em;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
}

#vue-cart .modalWrapper .prevProduct {
    left: calc(50% - 9.5em);
}

#vue-cart .modalWrapper .nextProduct {
    right: calc(50% - 9.5em);
}

#vue-cart .modalWrapper .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
    text-align: center;
    max-height: calc(100% - 2em);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-animation: openUp 0.1s;
    animation: openUp 0.1s;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#vue-cart .modalWrapper .modal .close {
    position: fixed;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
    padding: 1em;
}

#vue-cart .modalWrapper .modal .imageWrapper {
    width: 25em;
    height: 25em;
    margin: 0.5em auto;
    overflow: hidden;
}

#vue-cart .modalWrapper .modal .imageWrapper .image {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    z-index: 4;
    cursor: crosshair;
}

#vue-cart .modalWrapper .modal .additionalImages {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#vue-cart .modalWrapper .modal .additionalImages .additionalImage {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0.5em 1em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 25%;
    height: auto;
    position: relative;
}

#vue-cart .modalWrapper .modal .additionalImages .additionalImage:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
}

#vue-cart .modalWrapper .modal .additionalImages .additionalImage>.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#vue-cart .modalWrapper .modal .additionalImages .additionalImage:nth-of-type(1n) {
    margin-left: 0;
}

#vue-cart .modalWrapper .modal .additionalImages .additionalImage:nth-of-type(4n) {
    margin-right: 0;
}

#vue-cart .modalWrapper .modal .name {
    font-weight: bold;
    font-size: 1.25em;
}

#vue-cart .modalWrapper .modal .description {
    font-style: italic;
}

#vue-cart .modalWrapper .modal .details {
    max-width: 25em;
    margin: 0 auto;
    padding: 0.5em 0;
}

#vue-cart .modalWrapper .modal .price {
    font-weight: bold;
    padding-bottom: 0.5em;
}

@media (max-width: 600px) {

    #vue-cart .cart,
    #vue-cart .cart .cartTable {
        width: 100% !important;
    }

    #vue-cart .products {
        text-align: left;
    }

    #vue-cart .products .product {
        display: block;
    }

    #vue-cart .products .product .image {
        width: calc(100vw - 2.5em);
        height: calc(100vw - 2.5em);
    }

    #vue-cart .modalWrapper .prevProduct,
    #vue-cart .modalWrapper .nextProduct {
        display: none;
    }

    #vue-cart .modalWrapper .modal.checkout {
        width: 100%;
    }

    #vue-cart .modalWrapper .modal .imageWrapper {
        width: calc(100vw - 4em);
        height: calc(100vw - 4em);
    }
}