
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased!important;
    -webkit-transform: translate3d(1,1,1);
    transform: translate3d(1,1,1);
    text-rendering: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
.font-11 {
    font-size: 16px!important;
}
.font-12 {
    font-size: 16px!important;
}
.font-13 {
    font-size: 16px!important;
}
.font-14 {
    font-size: 16px!important;
}
.font-15 {
    font-size: 16px!important;
}
.font-16 {
    font-size: 16px!important;
}
.font-30 {
    font-size: 30px!important;
}
.opacity-60 {
    opacity: 0.6;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .5rem;
}
.form-control {    
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color:var(--navy);
    border: 1px solid var(--splash-bg-color);
}
.formValidationError {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    background-color: #c0392b;
    text-align: center;
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.heading-style {
    padding: 0 20px 30px;
}
.heading-style .heading-title {
    text-align: center;
    font-weight: 700;
}
.heading-style .heading-title {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.heading-style em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    margin-top: -8px;
}
.heading-style .line {
    z-index: 1;
    width: 280px;
    margin: 25px auto;
    display: block;
    height: 1px;
}
.theme-light .heading-style i {
    transition: all 0s ease!important;
}
.heading-style i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    top: -15px;
    left: 50%;
    border-radius: 40px;
    margin-left: -20px;
    z-index: 2;
}
.heading-style p {
    font-size: 13px;
    text-align: center;
    padding: 0 5px;
}
.heading-style p {
    width: 100%!important;
    margin-left: auto;
    margin-right: auto;
}
.retira_ing {
    width:100%
}
.list-group-item{
    font-size:13px;
    padding:8px 10px
}
.list-group-item label {
    font-size: 14px;
    font-weight:600
}
.decoration {
    height: 1px;
    display: block;
    margin-bottom: 30px;
    clear: both!important;
    background-color: rgba(0,0,0,.08);
}
.content {
    padding: 0 20px 1px;
    margin-bottom: 30px;
}
.pages_maincontent p {
    padding: 0 0 10px 0;
    margin: 0;
    clear: both;
    color: var(--dark);
}
.pages_maincontent h2 {
    font-size: 14px;
    margin: 5px 0 20px 0;
    display: block;
    clear: both;
}
.formValidationError {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    background-color: #c0392b;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.bg-green1-dark {
    background-color: #8CC152!important;
    color: #FFFFFF!important;
}
.button-full {
    display: block;
    text-align: center;
}
.button-sm {
    padding: 8px 18px;
    font-size: 13px;
}
.button-rounded {
    border-radius: 6px;
}
.button {
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 250ms ease;
    font-weight: 800;
    text-transform: uppercase;
}
.ultrabold {
    font-weight: 800!important;
}
.uppercase {
    text-transform: uppercase;
}
.back-to-top-large {
    width: 130px;
    height: 32px;
    border-radius: 18px;
    font-size: 12px;
    position: fixed;
    left: 50%;
    margin-left: -65px;
    bottom: 18px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    background: var(--secondary);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.back-to-top-badge {
    width: 34px;
    height: 34px;
    border-radius: 44px;
    font-size: 12px;
    position: fixed;
    z-index: 97;
    right: 15px;
    bottom: 5px;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    color: #fff;
    text-align: center;
    line-height: 32px;
    background: var(--splash-bg-color);
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.back-to-top-large i {
    height: 32px;
    line-height: 32px!important;
    padding-right: 17px;
    text-align: center;
    width: 23px;
    font-size: 13px;
}
.notification {
    border-radius: 8px;
    padding:15px
}
.notification-red {
    background-color: #e05967;
}
.notification-green {
    background-color: #8fbf5b;
}
.list-group-item .fac {
    display: block;
}
.sucesso {
    width: 100%;
    background-color: rgba(0,255,0,.15);
    border: 1px solid rgba(0,255,0,.25);
    border-radius: 3px;
    padding: 6px 10px;
    margin: 0 0 8px;
    font-weight: 700!important;
}
.relogio {
    display: block;
    font-size: 20px;
    color: red;
    font-weight: 700;
}
.relogio i {
    color: var(--default);
    font-size: 60px;
    display: block;
    margin: 10px 0 5px;
}
/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 14px;
    font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--splash-bg-color);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border: 2px solid var(--success);
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bolder {
    font-weight: 700!important;
}
.card-body h4 {
    font-family: Nunito, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-header {
    background-color: rgba(52, 152, 219,.045)
}