body, html {
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-family: Nunito,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}
body{
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    background-image: url(/assets/img/back-cidades-laranja.jpg) !important;
    width: 100% !important;
    height: 100% !important;
    overflow: visible;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.text-center {
    text-align: center!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}