
/*---Store Pages---*/
/*-----------------*/

/*Menu Cart*/
.menu-cart-item{margin:20px 0px 0px 0px; min-height:100px;}
.menu-cart-item img{width:70px;	position:absolute;}
.menu-cart-item a i{padding-right:5px;}
.menu-cart-total *{line-height:24px;margin-bottom:0px;}
.menu-cart-total .button{margin-left:-20px; width:97%;}

.menu-cart-item strong{
	position:absolute;
	padding-left:90px;
	margin-top:-5px;
	font-size:15px;
	display:block;
}
.menu-cart-item span{
	padding:20px 70px 0px 90px;
	font-size:10px;
	line-height:15px;
	display:block;
	font-style: normal;
	color:#6a6a6a;
}

.menu-cart-item em{
	position:absolute;
	right:0px;
	top:0px;
	font-size:12px;
	text-align:right;
	font-style: normal;
	padding-top:2px;
}

.menu-cart-item em del{
	display:block;
	font-size:10px;
	margin-top:-10px;
}

.menu-cart-item a{
	padding-left:90px;
	height:40px;
	line-height:30px;
	font-size:10px;
}

/*Store Slide 1*/
.store-slide-1 .store-slide-image{margin:20px auto 30px auto;}
.store-slide-1 .store-slide-button{margin:20px 30px 20px 0px;}
.store-slide-1 .store-slide-price{margin:0px 30px;}
.store-slide-1 .store-slide-price a i{padding-right:10px;}
@media(max-width:400px){.store-slide-1 .store-slide-image{max-width:55%;}}
@media(min-width:400px){.store-slide-1 .store-slide-image{max-width:70%;}}

.store-slide-1 .store-slide-rating{width:128px;	margin:0px auto 20px auto;}
.store-slide-1 .store-slide-rating i{
	color:var(--default);
	font-size:15px;
	margin:0px 3px 0px 3px;
}

.store-slide-1 .store-slide-price a{
	width:60%;
	float:right;
	text-align:right;
	color:var(--dark);
	padding-top:0px;
	font-size:14px;
}

.store-slide-1 .store-slide-price strong{
	width:40%;
	float:left;
	text-align:left;
	font-size:20px;
	font-weight:500;
}

.store-slide-1 .store-slide-price strong del{
	color:#cacaca;
	font-size:11px;
	margin-top:-10px;
	margin-bottom:-10px;
	display:block;
}

.store-slide-1 .store-slide-price em{
	text-align:right;
	display:block;
	font-size:10px;
	margin-top:-12px
}

/*Store Slide 2*/
.store-slide-2{min-height:110px;padding: 10px 15px 10px 18px!important;}
.store-slide-2 .store-slide-button{padding:10px 0px 0px 90px;}
.store-slide-2 .store-slide-button a i{padding-right:10px}
.store-slide-2 .store-slide-image{
	position:absolute;
	width:80px!important;
	left:10px!important;
	top:30px;
}
.store-slide-2 .store-slide-image{
	position:absolute;
	width:80px!important;
	left: 15px!important;
	top: 16px;
}
.store-slide-2 .store-slide-image img{width:80px;border-radius: 6px}
.store-slide-2 .store-slide-image strong{
	text-align:center;
	display:block;
	text-decoration:none;
	color:#1f1f1f;
	font-size:14px;	
}
.store-slide-2 .store-slide-title strong{
	display:block;
	padding-left:90px;
	font-size:16px;
	line-height:20px;
	color: var(--dark)!important
}
.store-slide-2 .store-slide-title em{
	font-size:12px;
	padding-left:90px;
	display:block;
	margin-top:5px;
	line-height:22px;
}
.store-slide-2 .store-slide-button strong{font-size:14px;}
.store-slide-2 .store-slide-button strong del{
	position:absolute;
	margin-top: -16px;
	text-decoration: none;
	font-weight:400;
}
.store-slide-2 .store-slide-button a, .store-slide-2 .store-slide-button span.favorite{
	margin-top:3px;
	padding-left: 3px;
	height: 25px;
	min-width: 25px;
	font-size: 12px;
	color:#8b8b8b;
	float:right;
}
.store-slide-2 .store-slide-button a i, .store-slide-2 .store-slide-button span.favorite i{
	margin-top:-8px;
}
.store-slide-title h4 {
	font-weight:bold;
}
.store-slide-title em {
	font-size: 13px!important;
	font-style: normal;
	line-height: 14px;
}
/*Menu Ball*/
.store-ball{
	font-size:8px;
	position:absolute;
	width:13px;
	height:13px;
	line-height:13px;
	border-radius:13px;
	top:12px;
	right:7px;
}
/*Featured Slider*/
.store-featured-1{
	margin-top:30px;
	padding-left:20px;
	padding-right:20px;
}
.store-featured-1 a{max-width:100px; margin:0 auto;}
.store-featured-1 img{max-width:100px;}
.store-featured-1 strong{
	display:block;
	padding-top:5px;
	font-size:13px;
	font-weight:600;
	line-height:20px;
	text-align:center;
}
.store-featured-1 u{
	display:block;
	font-size:15px;
	text-decoration:none;
	font-weight:500;
	text-align:center;
}
.store-featured-1 span{
	display:block;
	font-size:10px;
	margin-top:-10px;
	text-align:center;
}
.store-featured-1 em{
	display:block;
	font-size:11px;
	line-height:20px;
	color:#6b6b6b;
	font-style: normal;
	padding:5px 0px 10px 0px;
	text-align:center;
}

.store-featured-1-buttons{width:100px!important;margin:0 auto;}
.store-featured-1-buttons a{
	width:40px;
	float:left;
	height:40px;
	text-align:center;
	margin:10px 5px 0px 5px;
	line-height:40px;
	border-radius:10px;
	border:solid 1px rgba(0,0,0,0.1);
}

.theme-dark .store-featured-1-buttons a{border-color:rgba(255,255,255,0.1)!important;}
.theme-dark .store-categories a{border-color:rgba(255,255,255,0.1)!important;}
.theme-dark .store-links a{color:rgba(255,255,255,0.7)!important;}
.theme-dark .store-links a i{color:rgba(255,255,255,1)!important;}

.store-categories a:nth-child(3n+2){border-bottom:none;}
.store-categories a:nth-child(3n+1){border-bottom:none; border-left:none; border-right:none;}
.store-categories a:nth-child(3n+3){border-bottom:none; border-right:none; border-left:none;}

.store-categories a{
	width:33.33333%;
	float:left;
	height:100px;
	border:solid 1px rgba(0,0,0,0.1);
	color:#1f1f1f;
}

.store-categories a i{
	position:absolute;
	text-align:center;
	width:100%;
	line-height:70px;
}
.store-categories a em{
	display: block;
	text-align:center;
	line-height:130px;
	font-style: normal;
	font-weight:500;
	font-size:11px;
	text-transform:uppercase
}

/*Store Links*/
.store-links a{
	height:40px;
	line-height:40px;
	float:left;
	width:50%;
	color:#818181;
}

.store-links a i{
	width:30px;
	text-align:center;
	color:#1f1f1f;
}

/*Store Cover*/
.cover-store a{
	height:40px;
	line-height:40px;
	padding-top:20px;
	margin-bottom:20px;
}
.cover-store a i{height:40px; width:70px; line-height:40px;}
.cover-store a:first-child{
	color:#FFFFFF;
	padding-top:;
	font-weight:600;
	float:left;
	padding-right:20px;
	width:150px;
}

.cover-store a:nth-child(2), .cover-store a:nth-child(3){float:left; text-align:center;}
.cover-store em{
	position:absolute;
	right:0px;
	color:#FFFFFF;
	bottom:0px;
	height:0px;
	line-height:0px;
	font-size:20px;
	font-weight:300;
	font-style: normal;
}

/*Store Category Slider*/
.store-category-slider{padding:0px 10px;}
.store-category-slider a{border-radius:10px;overflow:hidden;}
.store-category-slider a strong{
	position:absolute;
	color:#FFFFFF;
	z-index:10;
	top:50%;
	margin-top:-20px;
	text-align:center;
	width:100%;
	line-height:22px;
	font-weight:600;
	font-size:14px;
	text-transform: uppercase;
}


/*Store Product 1*/
.store-product-button-fixed{position:fixed; bottom:0px; z-index:2; bottom:-12px; transform:translateY(60px);}
.show-store-product-button{transform:translateY(0px);}
.store-product-slider{margin-bottom:20px;}
.store-product-slider a{padding:0px 30px 10px 30px;}
.store-product-slider .owl-dots *{width:12px; height:12px;}
.store-product .store-product-title{font-size:15px;	padding-right:100px;}
.store-product .store-product-price{position:absolute; top:4px;	right:0px;}

.store-product .store-product-price em{
	font-size:10px;
	font-style:normal;
	display:block;
	line-height:10px;
	text-align:right;
	color:#b2b2b2;
}

.store-product .store-product-price strong{
	display:block;
	text-align:right;
	font-size:28px;
}

.store-product .store-product-reviews{
	color:#ffbb58;
	font-size:12px;
	display:block;
	margin-top:10px;
}

.store-product .store-product-reviews strong{font-weight:400;}
.store-product .store-product-reviews a{color:#9f9f9f;}
.store-product .store-product-reviews i{padding:0px 15px 0px 5px;}
.store-product .store-product-discount{
	position:absolute;
	right:0px;
	margin-top:-25px;
	font-size:11px;
	line-height:20px;
	padding:0px 8px;
}
.store-product-table *{text-align:left;	padding-left:10px;}
.store-product-select-box, .store-product-select-box select{
	line-height:45px!important;
	height:45px!important;
	font-size:12px;
	color:#1f1f1f;
}

/*Store Cart*/
.store-cart-1{min-height:120px;	padding:10px;}
.store-cart-1 img{position:absolute; height:80px; left:10px;}

.store-cart-1-remove{
	position:absolute;
	font-size:11px;
	line-height:10px;
	width:80px;
	text-align:center;
	top:103px;
}

.store-cart-1 strong{
	display:block;
	padding-left:95px;
	line-height:18px;
	font-size:15px;
	font-weight:500;
}

.store-cart-1 span{
	font-size:11px;
	padding:10px 0px 30px 95px;
	display:block;
	line-height:12px;
}

.store-cart-1 span del{padding-right:10px;}
.store-cart-1 em{
	display:block;
	font-size:18px;
	padding-left:95px;
	padding-top:5px;
	color:#1f1f1f;
	position:absolute;
	bottom:0px;
	right:0px;
	font-style: normal;
	font-weight:400;
}

.store-cart-qty{position:absolute; left:105px; bottom:2px;}
.store-cart-qty i{width:25px;	font-size:10px;	background-color:rgba(0,0,0,0.05);}

.store-cart-qty input{
	width:30px;
	font-size:11px;
	border-top:solid 1px rgba(0,0,0,0.05);
	border-bottom:solid 1px rgba(0,0,0,0.05);
}

.store-cart-qty *{
	float:left;
	height:25px;
	line-height:25px!important;
	color:#1f1f1f;
	text-align:center;
}

/*Form Store Cart 18*/
form .store-cart-1{
	min-height:80px;
	padding:0;
	}
form .store-cart-1 img{
	position:absolute;
	height:80px;
	left:0;
	border-radius: 10px;
	z-index: 1;
	}
form .store-cart-1-remove{
	position:absolute;
	font-size:11px;
	line-height:10px;
	width:80px;
	text-align:center;
	top:103px;
}

form .store-cart-1 strong{
	display:block;
	padding-left:95px;
	line-height:18px;
	font-size:15px;
	font-weight:500;
}
form .store-cart-1 button{
	margin-left:95px;
}
form .store-cart-1 span{
	font-size:11px;
	padding:10px 0px 30px 95px;
	display:block;
	line-height:12px;
}
form .store-cart-1 span.obs{
padding-top:2px;
font-style:italic;
color:var(--cor8)
}
form .store-cart-1 i.obs-asterisk{
	color:var(--cor8);
	padding-left:2px;
	font-size:8px;
	position:relative;
	top:-8px
}
form .store-cart-1 p{
	font-size:11px;
	padding: 1px 5px 2px 95px;
	margin-bottom:0;
	display:block;
	line-height:12px;
	color:var(--dark);
}
form .store-cart-1 .description {	
    position: relative;
    display: inline-block;
    min-height:40px
}
form .store-cart-1 .description:after {
	content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #FFF) left repeat;
  background: linear-gradient(transparent, #FFF) left repeat; 
}
form .store-cart-1 span del{
	padding-right:10px
}
form .store-cart-1 .appVue {
	position:absolute;
	bottom:0;
	width:100%
}
form .store-cart-1 em{
	display:block;
	font-size:18px;
	padding-left:95px;
	padding-top:5px;
	color:#1f1f1f;
	position:absolute;
	bottom:0px;
	right:0px;
	font-style: normal;
	font-weight:400;
}

form .store-cart-qty{
	position:absolute;
	left:105px;
	bottom:2px;
}
form .store-cart-qty i{width:25px;	font-size:10px;	background-color:rgba(0,0,0,0.05);}

form .store-cart-qty input{
	width:30px;
	font-size:11px;
	left:14px;
	margin-right:23px;
	border-top:solid 1px rgba(0,0,0,0.05);
	border-bottom:solid 1px rgba(0,0,0,0.05);
}
form .accordion-content .store-cart-1 .store-cart-qty a i {
    height: 100%;
    width: 25px;
    text-align: center;
}
form .store-cart-qty *{
	float:left;
	height:25px;
	line-height:25px!important;
	color:#1f1f1f;
	text-align:center;
}
form .store-cart-qty {
    position: absolute;
    left: 105px;
    bottom: 2px;
}
form .button-icon.button-full {
    width:100%;
    line-height:35px
}
form .button-sm {
    padding: 2px 15px 0 40px;
    font-size: 12px;
}
form .button-sm .total{    
	line-height:14px;
    font-size: 16px;
    font-weight:600
}
/*End Form Store Cart 1
/*Store Cart 2*/
.store-cart-2{min-height:70px; margin-bottom:40px;}
.store-cart-2 img{width:70px; position:absolute;}

.store-cart-2 span{
	padding-left:85px;
	font-size:10px;
	display:block;
	color:#a0a0a0;
	line-height:14px;
}

.store-cart-2 strong{
	padding-left:85px;
	display:block;
	line-height:20px;
	font-size:15px;
	padding-right:50px;
}

.store-cart-2 em{
	position:absolute;
	top:0px;
	font-size:14px;
	font-weight:600;
	font-style: normal;
	right:0px;
	line-height:17px;
	text-align:right;
}

.store-cart-2 em del{
	display:block;
	font-size:10px;
	color:#cacaca;
	text-align:right;
	font-weight:300;
	text-decoration: none;
}

.store-cart-2 a{
	font-size:10px;
	padding-left:85px;
	padding-top:5px;
	color:red;
}

.store-cart-2 input{
	height:25px;
	width:40px;
	font-size:10px;
	border:solid 1px rgba(0,0,0,0.1);
	text-align:center;
	position:absolute;
	right:0px;
	top:40px;
}

.store-cart-total strong{float:left; font-weight:500;}
.store-cart-total span{float:right; font-weight:500;}

/*Store Checkout*/
.checkout-total strong{float:left; margin-bottom:10px; font-weight:800}
.checkout-total span{float:right; margin-bottom:10px; font-weight:400;}

/*Store Invoice*/

.invoice-box-header{margin:0px 10px 10px 10px;}
.invoice-box{
	background:#FFFFFF;
	display:block;
	margin:0px 20px 0px 20px;
	border-radius:5px;
}
.invoice-box-content{display:none;}
.invoice-box-header em{
	position:absolute;
	background-color:#1f1f1f;
	padding:0px 10px 0px 15px;
	line-height:25px;
	margin:13px 0px 0px -10px;
	font-size:11px;
	font-weight:600;
	color:#FFFFFF;
	font-style: normal;
}

.invoice-box-header strong{
	padding-left:60px;
	color:#969696;
	font-weight:400;
	font-size:10px;
}

.invoice-box-header span{
	font-size:15px;
	display:block;
	padding-left:60px;
	color:#1f1f1f;
	margin-top:-15px;
	font-weight:700;
}

.invoice-box-header u{
	position: absolute;
	right:-10px;
	top:12px;
	font-size:16px;
	font-weight: 800;
	text-decoration: none;
	text-align:right;
	line-height:15px;
}

.invoice-box-header u del{
	font-size:10px;
	display:block;
	text-align:right;
	font-weight:200;
	text-decoration: none;
}

.invoice-box-item em{
	display:block;
	font-size:10px;
	line-height:20px;
	font-style: normal;
	color:#acacac;
}

.invoice-box-item strong{
	font-size:14px;
	font-weight:500;
	display:block;
	margin:-5px 0px 15px 0px;
}

.invoice-box-item a u{
	float:right;
	text-decoration:none;
	color:#acacac;
}

.store-button{
    padding-left:50px;
}

.store-button i{
    padding-left:10px;
}
.nav-tabs {
	position: relative;
}
.icon-bars, .icon-bars:before, .icon-bars:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 22px;
	height: 3px;
	background-color: #333;
	vertical-align: middle;
}
.icon-bars:before, .icon-bars:after {
	position: absolute;
	top: -6px;
	left: 0;
}
.icon-bars:after {
	top: 6px;
}
li.tabdrop > a {
	margin-right: 0;
}


/* menu */
.menu.segments {
	padding-bottom: 44px;
}

.menu .row.no-mb {
	margin-bottom: 0;
}

.menu .row:last-child {
	margin-bottom: 0;
}

.menu .tabs {
	background-color: transparent;
	margin-bottom: 20px;
	height: 30px;
}

.menu .tabs .tab {
	text-transform: none;
	height: 30px;
	line-height: 30px;
}

.menu .tabs .tab a {
	padding: 0;
	color: #333;
	border-radius: 20px;
}

.menu .tabs .tab a.active {
	color: #fff;
	background-color: #ff4301;
	border-radius: 20px;
}

.menu .tabs .indicator {
	display: none;
}

.menu .content {
	border-radius: 5px;
}

.menu .content img {
	width: 100%;
	border-radius: 5px 5px 0 0;
	display: block;
}

.menu .content .text {
	background-color: #fff;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #ddd;
	border-width: 0 1px 1px 1px;
}

.menu .content p.price {
	font-size: 14px;
	font-weight: 600;
	color: #ff4301;
}

/* menu details */
.menu-details .row.no-mb {
	margin-bottom: 0;
}

.menu-details .content img {
	width: 100%;
	border-radius: 5px;
}

.menu-details .tabs {
    padding: 10px 2px;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.menu-details .tabs .indicator {
	display: none;
}

.menu-details .tabs .tab a {
	padding: 0 10px;
	opacity: 0.5;
}

.menu-details .tabs .tab a.active {
	opacity: 1;
	color: transparent;
}

.menu-details .tabs .tab a:focus {
	background: transparent;
}

.menu-details ul li img {
	width: 100%;
}

.menu-details .content-desc {
	margin-top: 15px;
}

.menu-details .content-desc span {
	display: inline-block;
	background: #ff4301;
	color: #fff;
	padding: 0px 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}

.menu-details .content-desc h4 {
	margin: 10px 0;
	color: #ff4301;
}

.menu-details .review {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.menu-details .review h5 {
	margin-bottom: 15px;
}

.menu-details .review .content .image img {
	width: 45px;
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.menu-details .review .content .text {
	overflow: hidden;
}

.menu-details .review .content.reply {
	margin-left: 30px;
	margin-bottom: 0;
}

.menu-details .review .content.reply .text p:last-child {
	margin-bottom: 2px;
}

.menu-details .comment-add {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.menu-details .comment-add h5 {
	margin-bottom: 15px;
}

.menu-details form textarea {
	margin-bottom: 0 !important;
}
.square {
	float:left;
	position: relative;
	width: 20%;
	height: 20%;
	padding-bottom:20%;
	margin:1%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover; 
}
.thumbers {
	width: calc(100vw - 1.8em);
	height: auto;
	border-radius: 5px;
}
.my-gallery figure {
	margin: 0 0 0.9em;
	width: 33vw;
  }
  
  .galeria figure {
	width: calc(100% / 3);
	box-sizing: border-box;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0.5em;
  }
  
  .galeria .thumbers {
	width: 100%;
	height: 20vw;
	border-radius:6px
  }
  .shadow-box {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 2000;
}

.shadow-box .inner-shadow-box {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	background-color: #ffffff;
	text-align: left;
	border-radius: 4px;
	color: black;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.shadow-box .inner-shadow-box {
		max-width: 300px;
	}
}

.shadow-box .inner-shadow-box p {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.shadow-box .inner-shadow-box img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

.shadow-box .inner-shadow-box button{
	margin: 20px;
	width: 40%;
	cursor: pointer;
}