.square {
    float:left;
    position: relative;
    width: 20%;
    height: 20%;
    padding-bottom:20%;
    margin:1%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
}
.thumbers {
    width: calc(100vw - 1.8em);
    height: auto;
    border-radius: 5px;
}

.my-gallery figure {
    margin: 0 0 .9em;
    width: 33vw;
}

.galeria figure {
    width: calc(100% / 3);
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0;
    padding: .5em;
}

.galeria .thumbers {
    width: 100%;
    height: 20vw;
}

.shadow-box, .zoom-product {
    background-color: var(--default);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2000;
}

.shadow-box .inner-shadow-box, .zoom-product .inner-shadow-box {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    background-color: #ffffff;
    text-align: left;
    border-radius: 4px;
    color: black;
    text-align: center;
}
.zoom-product .inner-shadow-box .zoom-inner{
    max-width: 300px; overflow: hidden
}
.zoom-product .inner-shadow-box .zoom-inner .zoom-info{
    height: 200px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .shadow-box .inner-shadow-box, .zoom-product .inner-shadow-box {
        max-width: 300px;
    }
}

.shadow-box .inner-shadow-box p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.zoom-product .inner-shadow-box p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
p#shadow-box-name{
    font-size: 16px;
    font-weight: bold;
    line-height:19px;
    color:var(--shadow2);
    margin-top: 5px;
    margin-bottom: 3px;
}

p#shadow-box-description{
    font-size: 14px;
    line-height:16px;
}
.shadow-box .inner-shadow-box img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}
.zoom-product .inner-shadow-box img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.shadow-box .inner-shadow-box button{
    margin: 20px;
    width: 40%;
    cursor: pointer;
}
.zoom-product .inner-shadow-box button{
    margin: 20px;
    width: 40%;
    cursor: pointer;
}
.zoom-product .inner-shadow-box {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    height: 98%;
    background-color: #fff;
    text-align: left;
    border-radius: 4px;
    color: #000;
    text-align: center;
}
.zoom-product .store-cart-qty {
    bottom: -25px!important;
}
.zoom-product .btn {    
    position:absolute;
    bottom:10px;
    left:66px
}
@media only screen and (min-width: 768px) {
    .shadow-box .inner-shadow-box, .zoom-product .inner-shadow-box {
        max-width: 300px;
    }
}
