#estabelecimentos, #eventos, #ofertas, #onLine {
    margin: 5px;
}
.ui-content h4 {
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: normal;
    color:var(--dark)
}
.ui-content {
    position: relative;
    /* top: 40px; */
    margin-top:46px;
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index: 999;
}
.pages_maincontent {
    width: 100%;
    padding: 0;
}
#estabelecimentos, #eventos, #ofertas, #onLine {
    margin: 5px;
}
.ui-content h4 {
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: normal;
    color:var(--dark)
}
a.more {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 400
}
a.more i {
    font-size: .6rem
}
a, blockquote span {
    color: var(--default);
}
.carousel-estabelecimentos .carousel-cell img,
.carousel-eventos .carousel-cell img,
.carousel-ofertas .carousel-cell img,
.carousel-onLine .carousel-cell img {
    max-width: 330px;
    min-width: 160px;
    float:left;
    text-align: left;
}
.carousel-cell {
    margin-right: 10px;
    overflow: hidden
}
.carousel-cell img {
    display: block;
    height: 160px;
    border-radius: 4px
}
#radios .carousel-radios img {
    max-height: 100px;
}
.carousel-radios {
    margin-bottom: 10px;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 160px
}
@media screen and (min-width:768px) {
    .carousel-cell img {
        height: 280px
    }
}
#main-delivery {
    padding: 0 5px;
    background: #ffedd8;
}
#own-delivery {
        margin-left: -8px;
        padding-top: 5px;
        padding-bottom: 0;
}
.icons-delivery {
    margin-top: 0;
    padding: 0;
    padding-bottom: 10px
}
.icons-delivery .main-circle, .icons-evento .main-circle, .icons-head .main-circle {
    text-align: center;
}
.icons-delivery .circle {
    margin: 0 auto;
    background: var(--light-color);
}
.icons-delivery .circle,
.icons-head .circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative
}
.icons-delivery .circle img,
.icons-head .circle img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}
.icons-delivery .circle img {
    width: 34px
}
.icons-delivery .main-circle span p {
    font-size: .8rem;
    font-weight: normal;
    color: var(--dark);
    padding: 6px 0 2px;
    margin-bottom:0;
    line-height: .8rem;
    text-decoration: none;
}
.icons-delivery .circle, .icons-head .circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.icons-delivery .circle {
  margin: 0 auto;
    background: var(--light-color);
}
.search-top {
    position:relative;
    top:-10px;
    background:var(--default)
}
#header form {
    width: 100%;
}
.zm-trending-post {
    position: relative;
    overflow: hidden
}
.zm-post-thumb figure {
    margin-bottom: 0
}
.zm-post-thumb figure img {
    max-height: 160px
}
.zm-post-thumb a {
    display: block
}
.zm-trending-post.zm-lay-d .zm-post-dis {
    width: 100%;
    bottom: 0;
    padding: 20px 10px 5px 10px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .02) 0, rgba(0, 0, 0, .82) 43%, rgba(0, 0, 0, .82) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .02) 0, rgba(0, 0, 0, .82) 43%, rgba(0, 0, 0, .82) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .02) 0, rgba(0, 0, 0, .82) 43%, rgba(0, 0, 0, .82) 100%)
}
.zm-trending-post .zm-post-dis {
    bottom: 20px;
    left: 0;
    padding: 2px 40px;
    position: absolute;
    z-index: 5
}
.zm-trending-post .zm-post-dis h2 a {
    color: var(--light-color);
    font-size: 15px;
    line-height: 10px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    filter: drop-shadow(1px 1px 1px #000)
}
.s-meta {
    font-size: 13px;
    font-weight: 400;
    color: var(--light-color)
}
.s-meta i {
    font-size: 12px
}
.search__input {
    width: 100%;
    padding: 6px 18px;
    background-color: var(--light-color);
    font-size: 15px;
    line-height: 18px;
    color: var(--dark-bg);
    background-image: url(../../img/icons/search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid var(--light-color);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
    color: var(--navy)
}  
.search__input:focus,
.search__input:hover {
    width: 100%;
    padding: 6px 8px;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 8px;
    background-position: 97% center
}
.search-top {
    margin-top:20px;
    margin-bottom:5px;
}
.title-medium-container {
    margin-top: 5px;
    margin-bottom:5px;
    position: relative;
}
.title-with-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}