.ultrabold {
  font-weight: 800!important;
}
.uppercase {
  text-transform: uppercase;
}
.no-bold {
  font-weight:normal!important
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pr-005,
.px-005 {
  padding-right: 0.05rem !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.page-content {
  margin-top: 125px;
}
.btn-cidade {
  font-size: 16px;
  margin-top: 20px!important;
  padding: 2px 5px 5px 5px;
  border-radius: 20px;
}
.btn-cidade, .btn-mais-detalhes, .btn-open-map {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--light-color)!important;
}
.discover-gradient {
  width: 100%;
  height: 345px;
  position: absolute;
  background: #8705f0;
  background: linear-gradient(to bottom right, #ff2e54, #c519e4);
  margin-top: 45px;
}
.title-medium-container h4 {
  font-size: 16px;
  line-height: 2px;
  font-weight: 600;
}
.page-content {
  margin-top: 125px;
}
.discover-gradient {
  width: 100%;
  height: 345px;
  position: absolute;
  background: #8705f0;
  background: linear-gradient(to bottom right, #ff2e54, #c519e4);
  margin-top: 45px;
}
.title-medium-container h4 {
  font-size: 14px;
  font-weight: 600;
}
.store-slide-button a img {
  height: 13px;
  border-radius: 0;
}
.store-slide-title p {
  font-size: 0.92rem;
  padding-left: 90px;
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 16px;
  color: var(--dark);
}
.store-slide-2 .store-slide-button a i {
  padding-right: 0 !important;
}
.store-slide-button a i, .store-slide-button span.favorite i {
  /* width: 35px; */
  position: absolute; /* left: -5px; */
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
  transform: translateY(8px);
}
.heading-style h5 {
  display: flex;
  line-height: 12px;
  text-align: center;
}
.store-slide-button a i.fa-whatsapp {
  font-size: 14px;
  font-weight: 600;
}
.store-slide-button span.favorite i.fa-heart {
  padding-top: .5px;
}
.heading-style .button,
.store-slide-button .button {
  margin-left: 5px;
  float: left;
  display: flex;
  padding: 0 12px;
  width: auto;
}
.heading-style a.store-button.button {
  padding:3px 33%;
  font-weight:600!important
}
.heading-style a.store-button.button i {
  font-weight:100;
  padding-left:40px
}
.color-secondary-light {
  color:var(--secondary)
}
.color-danger-dark {
  color:var(--red)
}
.bg-red-dark {
  background-color: var(--red) !important;
  color: #ffffff !important;
}
.bg-secondary-dark {
  background-color: var(--secondary) !important;
  color: #ffffff !important;
}
.button.button-fill {
  background: var(--default);
  border-color: transparent;
}
.button.button-small {
  margin-bottom: 3px;
  height: 15px;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.button.button-small i {
  font-size: 10px;
}
.button.button-round {
  border-radius: 29px;
}
.button {
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  padding: 0 10px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.status {
  border-radius: 29px;
  margin-bottom: 3px;
  padding: 0 8px;
  height: 15px;
  line-height: 16px;
  font-size: 11px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.status.status-aberto {
  background: #34b600;
  color: var(--light-color);
  border-color: transparent;
}

.status.status-fechado {
  background: #f52d2d;
  color: var(--light-color);
  border-color: transparent;
}
.status.status-indisponivel {
  background: var(--bg-gray);
  border-color: transparent;
}
.status-pedido-online {
  background: var(--blue);
  color: var(--light-color);
}
ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
ul:not(.browser-default) > li {
  list-style-type: none;
}
.store-slide-button ul {
  padding: 0;
  margin: 0;
}
.store-slide-button ul li {
  list-style-type: none;
  display: inline-block;
  color: var(--default);
}
.store-slide-button ul li i {
  font-size: 8px;
}
.parsley-errors-list {
  color: #b32721;
  list-style: none;
  padding: 0;
  margin: 0
}

input.parsley-error,
input.parsley-error:focus {
  border-color: #b32721
}
/*Categorias*/
.box-title h2, .box-title-2 h2, .box-title-3 h2 {
  font-size: 19px;
  font-weight: 600;
}
.box-title-2 img {
  height: 18px;
  padding-bottom: 2px;
}
.box-title img, .box-title-2 img, .box-title-3 img {
  margin-right: 4px;
  vertical-align: middle;
}
.text-center {
  text-align: center!important;
}
.text-center.circle {
  padding: 0 10px!important;
}
.categoria {
  display: block;
  border: 2px solid var(--default);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 68%;
  max-width: 70px;
  max-height: 70px;
}
#estabelecimentos .categorias p {
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  color:var(--dark)
}
.btn-mais-detalhes {
  background: var(--default);
  color:var(--light-color);
}
.content.itens-lst .news-col-item img{
max-width: 160px;
}
.content.itens-lst h3{
  color:var(--red);
  margin-bottom:0
}
.content.itens-lst h5{
  color:var(--dark);
  margin-bottom:2px;
}
.content.itens-lst h4{
  color:var(--dark);
  font-size: 12px;
  margin-bottom:2px;
}
.content.itens-lst p{
  margin-bottom:0;
  line-height: 15px;
}
.itens-details h2 {
  margin-top:10px;
  font-size:15px
}
.itens-details h3 {
  font-size:17px
}
.itens-details h4 {
  font-size:15px;
  color:var(--red);
}
.noticia.itens-details h4 {
  color:var(--dark);
  font-size: 12px;
  margin-bottom:2px;
}
.itens-details p {
    margin-bottom: 2px;
    line-height: 17px;
    color:var(--navy);
    opacity: .95;
}
.itens-details.ver-radio h3 {
  font-size:20px;
  font-weight: 600;
}
.itens-details .btn-share {
  font-size: 13px!important;
  text-transform: uppercase;
  font-weight: 700;
}
.linha-1 {
  border-bottom: solid 1px var(--gray4);
}
.btn-mapa {
  background-color: var(--secondary-gradient);
  border-color: var(--secondary-gradient)
}
.page-content .itens-lst img.interna {
    min-width: 100%;
    height: auto;
    min-height: 75px;
    border-radius: 4px;
}
.ver-radio .pages_maincontent .lista .descricao {
  min-height: 39px;
  max-height: 39px;
  margin-top: 2px;
  background-color: #fff;
  font-size: .8em;
  line-height: 1.1em;
  background-image: linear-gradient(to bottom,#444 0,#fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ver-radio .pages_maincontent .lista .btn-mais-detalhes {
  border-radius: 29px;
  font-size: 11px;
  padding:0

}
.ver-radio .pages_maincontent .lista h2 {
  font-size:18px;
  color:var(--dark)
}
.btn-mapa i {
  margin-right: 6px
}
.itens-details .icon.icon-xs i { 
  font-size: 18px
}
.bg-instagram {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}
.bg-color-blue-dark {
  background: var(--splash-bg-color)!important;
  color:#FFF!important;
}
.bg-color-secondary-dark {
  background: var(--secondary)!important;
  color:#FFF!important;
}
.bg-red-dark {
  background-color: #DA4453!important;
  color: #FFFFFF!important;
}
.bg-youtube-dark {
  background-color: #c4302b;
  border-color: #c4302b;
  color: #FFFFFF!important;
}
.color-blue-dark {
  color: var(--splash-bg-color)!important;
}
.color-red-dark {
  color: var(--red)!important;
}
.color-success-dark {
  color: var(--success)!important;
}
.filtro input[type="checkbox"] + label:before {  
  left: 25px;
  top: 5px;
}
.filtro input[type="checkbox"]:checked + label:before { 
  top: 2px;
  left: 30px;
}