body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", serif;
  color: #a7a7a7;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #eee;
  /*background: url("http://guiaedelivery.agendalabs.com.br/assets/img/back.png") #eee;*/
  /*background: url("http://guiaedelivery.test/assets/img/back.png") #eee;*/
  background-size: 50%;
  line-height: 1.2;
  padding-bottom: 70px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
h5 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 12px;
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  z-index: 1030;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.categoria {
  display: block;
  border: 5px solid #fafafa;
  background-position: center;
  background-repeat: no-repeat;
}

.box-title {
  color: #ec891c;
  font-weight: bold;
  border-bottom: 2px solid #ec891c;
}

.card a {
  font-size: 14px;
}
.card {
  border: inherit !important;
}

.btn-cidade {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px !important;
  padding: 10px 20px;
}

.pedidos {
  position: relative;
}

.btn-atualizar {
  font-size: 100%;
  font-weight: 600;
  position: absolute;
  top: 1em;
  right: 1.5em;
  padding: 4px 12px;
  display: inline-block;
}

.desabilitado {
  pointer-events: none;
  background: #ddd;
  color: #666;
}

.indisponivel {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(255, 0, 0, 0.25);
  border-radius: 3px;
  padding: 6px 10px;
  margin: 8px 0;
  color: #333;
}

.sucesso {
  width: 100%;
  background-color: rgba(0, 255, 0, 0.15);
  border: 1px solid rgba(0, 255, 0, 0.25);
  border-radius: 3px;
  padding: 6px 10px;
  margin: 8px 0;
  color: #333;
}

.relogio {
  display: block;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.relogio i {
  color: #ec891c;
  font-size: 60px;
  display: block;
  margin: 10px 0 5px;
}

.retira_ing {
  width: 100%;
  border: none;
  height: 100px;
}

.retira_ing::placeholder {
  color: #bbb;
  font-style: italic;
}

.stylish-input-group .input-group-addon {
}
.stylish-input-group .form-control {
}
.stylish-input-group button {
}

.dataTables_filter {
  text-align: left !important;
}
.parsley-errors-list {
  color: #b32721;
  list-style: none;
  padding: 0;
  margin: 0;
}
input.parsley-error,
input.parsley-error:focus {
  border-color: #b32721;
}

#thumbnails {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#thumbnails li {
  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;
}

#thumbnails li img {
  width: 100%;
}
