.carousel-estabelecimentos {
  height: 120px;
}

.carousel-estabelecimentos img {
  height: 120px;
}

.flickity-button {
  position: absolute;
  top: 60px;
}

.flickity-button-icon {
  fill: #000;
}

.flickity-prev-next-button.previous {
  left: -48%;
}

.flickity-prev-next-button.next {
  right: -48%;
}
.deliv-time {
  height: 26px;
}
.deliv-time span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  color: var(--dark);
}
.deliv-time img {
  height: 14px;
  margin: -2px 1px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card a {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 2px;
}
.btn-block {
  display: block;
  width: 100%;
}
#estabelecimentos .card-body {
  padding: 10px;
  font-size: 14px;
}
div.card-body li.list-group-item {
  padding: 3px 12px;
}
div.card-body li.list-group-item i{
  padding: 3px;
}
#estabelecimentos .card-body h3 {
  margin-bottom: 10px;
}
#estabelecimentos .card-body.text-center h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 0.5rem;
  margin-bottom: 10px;
}
#estabelecimentos .card-body.text-center h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 0.95rem;
  margin-bottom: 10px;
}
#estabelecimentos .card-body i {
  font-size: 11px;
  margin-right: 3px;
  margin-top:2px
}
span.status {
  position: absolute;
  bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body img.mr-2 {
  height: 30px;
  vertical-align: middle;
  border-style: none;
}
.square {
  float: left;
  position: relative;
  width: 20%;
  height: 20%;
  padding-bottom: 20%;
  margin: 1%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.text-light {
  color: #f8f9fa !important;
}
.btn-block {
  display: block;
  width: 100%;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.appVue .text-right img {
  width: 16px;
  height: 16px;
  margin-top: 15px;
}
input.text-center.qtde {
  position: relative;
  top: -2px;
  border: inherit;
  width: 26px;
  height: 20px;
  font-size: 18px;
  background: transparent;
  text-align: center;
  color: var(--dark) !important;
}
.capa-estabelecimento {
  height: 100px;
}
.avancar {
  padding: 8px 10px 6px 10px !important;
  margin-left: 10px !important;
}
.sem-registro {
  text-align: center;
}
.linha-azul {
  border-top: 1px solid var(--default-gradient);
}
button.bg-success {
  border-radius: 5px !important;
  padding: 5px 10px;
  color: var(--light-color);
  background-color: var(--success) !important;
  border-color: var(--success);
}
.square {
  float: left;
  position: relative;
  width: 20%;
  height: 20%;
  padding-bottom: 20%;
  margin: 1%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.thumbers {
  width: calc(100vw - 1.8em);
  height: auto;
  border-radius: 5px;
}

.my-gallery figure {
  margin: 0 0 0.9em;
  width: 33vw;
}

.galeria figure {
  width: calc(100% / 3);
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0.5em;
}

.galeria .thumbers {
  width: 100%;
  height: 20vw;
}

.rich-text {
  font-size: 18px;
  line-height: 32px;
}
.rich-text p {
  margin-top: 38px;
}
/*acordion antigo*/
.accordions .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
}

.accordions button {
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.accordions__controls {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 5px;
}
.accordions__control {
  font-weight: 600;
  font-size: 18px;
  color: var(--secondary-gradient);
  transition: color 0.3s ease-in-out;
}
.accordions__control:hover,
.accordions__control:focus {
  color: #031d3d;
}
.accordions__header {
  font-size: 32px;
  font-weight: 600;
  background-color: #f0f0f0;
  position: relative;
  border-bottom: solid 1px #d3d3d3;
}
.accordions__container {
  display: flex;
}
h3.accordions__title {
  font-size: 14px;
  margin: 1px 0;
}
.accordions__title {
  position: relative;
  padding: 5px 0;
  padding-right: 15px;
  flex: 1;
  z-index: 2;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.accordions__title::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-bottom: solid 1px #d3d3d3;
  z-index: 1;
}
.accordions__button {
  color: white;
  padding-left: 38px;
  line-height: 1;
  transition: padding 0.3s ease-in-out;
}
.accordions__button::before {
  content: "";
  background-color: var(--secondary-gradient);
  position: absolute;
  top: 0;
  left: 70%;
  right: 0;
  bottom: 0;
  bottom: -1px;
  z-index: 1;
  border-bottom: solid 1px var(--tint-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.accordions__button:hover {
  padding-right: 38px;
}
.accordions__button:hover::before {
  background-color: var(--default);
}
.accordions__button:focus::before {
  background-color: var(--secondary);
}
.accordions__button:active,
.accordions__button--active {
  padding-right: 38px;
}
.accordions__button:active::before,
.accordions__button--active::before {
  background-color: var(--default) !important;
  border-bottom: solid 1px var(--default);
}
.accordions__button:active .accordions__icon,
.accordions__button--active .accordions__icon {
  transform: rotate(45deg);
}
.accordions__icon {
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  margin-left: 15px;
  color: var(--light-color);
}
.accordions__content {
  background-color: white;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1.2s ease-in-out, opacity 0.6s ease-in-out 0.6s,
    transform 0.6s ease-in-out 0.6s;
  transform: translateY(38px);
}
.accordions__content--expanded {
  max-height: 200vh;
  opacity: 1;
  /* padding-bottom: 76px; */
  transform: none;
}
/*fim acordion antigo*/

.acc, .acc2 {
  position: relative;
  background-color:var(--light-color);
}

.acc dl, .acc2 dl {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.acc dl:after, .acc2 dl:after {
  content: "";
  display: block;
  height: .5em;
  width: 100%;
}
.acc dt > a, .acc2 dt > a {
  text-align: center;
  font-weight: 600;
  padding: .2em .5em;
  display: block;
  text-decoration: none;
  color: var(--light-color);
  border-radius: 0.25rem;
  margin-bottom:.2em;  
  -webkit-transition: background-color 0.5s ease-in-out;
}
.acc dd, .acc2 dd {
  background-color: #fff;  
  line-height: 1.5em;
}
.acc dd > p, .acc2 dd > p {
  padding: .6em;
}
.acc_title {
  background-color: var(--secondary);
  border-bottom: 1px solid var(--secondary-gradient);
}
.acc_title:before {
  content: "+";
  font-size: 1.5em;
  line-height: .9em;
  float: left;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.acc_title:hover {
  background-color: var(--secondary-gradient);
}

.acc_title_active {
  background-color: var(--secondary-gradient);
}
.acc_title_active:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.acc .item-accordion {
  margin: 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.acc_panel {
  height: auto;
  overflow: hidden;
}

@media all {
  .acc_panel {
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .acc_panel {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}
.acc_panel_col {
  max-height: 0;
}

.anim_in {
  -webkit-animation-name: acc_in;
          animation-name: acc_in;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.anim_out {
  -webkit-animation-name: acc_out;
          animation-name: acc_out;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes acc_in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes acc_in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes acc_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes acc_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}