.text-center {
  text-align: center !important;
}
.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
  height: 175px;
}
.search__input {
  width: 100%;
  padding: 6px 18px;
  background-color: var(--light-color);
  font-size: 15px;
  line-height: 18px;
  color: var(--dark-bg);
  background-image: url("../../images/icons/orange/pesquisa.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid var(--light-color);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: var(--navy);
}
.search__input:hover,
.search__input:focus {
  width: 100%;
  padding: 6px 8px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 8px;
  background-position: 97% center;
}
.ui-shadow-inset {
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav_right_button a,
.icons-head a {
  color: var(--light-color);
}
.icons-evento a {
  color: var(--secondary);
}
.icons-head .circle {
  border: 2px solid var(--light-color);
}
.icons-evento .circle {
  border: 1px solid var(--secondary-gradient);
}
.icons-delivery a {
  color: var(--default);
}
.icons-delivery .circle {
  background: var(--light-color);
}
.icon-destaques,
.icon-eventos {
  width: 15px !important;
  height: 15px !important;
}
.icons-loja {
  position: relative;
  margin-top: -22px;
}
.icons-loja.d-flex img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.ui-btn {
  color: var (--default) !important;
}
#main-delivery {
  background: rgb(255, 237, 216);
}
.icons-delivery .main-circle span {
  color: var(--dark);
}
.icons-head {
  margin: 10px 0 2px;
  padding: 0;
  /* padding-bottom: 3px; */
}
.icons-delivery {
  margin-top: 0;
  padding: 0;
  padding-bottom: 10px;
}
.icons-head .main-circle,
.icons-evento .main-circle,
.icons-delivery .main-circle {
  text-align: center;
}
.icons-head .main-circle span {
  font-size: 0.93rem;
  font-weight: 700;
}
.icons-delivery .main-circle span {
  font-size: 0.85rem;
  font-weight: 500;
}
.icons-evento .main-circle span {
  font-size: 0.75rem;
  font-weight: 500;
}
.icons-head .circle {
  margin: 0 10px;
}
.icons-evento .circle {
  margin: 0 10px;
}
.icons-delivery .circle {
  margin: 0 auto;
}
.icons-head .circle,
.icons-delivery .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}
.icons-evento .circle {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  overflow: hidden;
  position: relative;
}
.icons-evento .circle img {
  width: 20px;
}
.icons-head .circle img {
  width: 32px;
}
.icons-head .circle img,
.icons-delivery .circle img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.icons-evento .circle img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.icons-delivery .circle img {
  width: 34px;
}
.ui-btn {
  position: relative;
  top: 2px;
  right: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  border: 0 !important;
  text-shadow: 0 !important;
  border-radius: 50% !important;
  box-shadow: none;
}
#estabelecimentos,
#ofertas,
#eventos {
  margin: 5px;
}
#main-delivery {
  padding: 0 5px;
}
.item-img-full img {
  width: 100%;
  height: 100% !important;
}
.linha-1 {
  border-bottom: solid 1px var(--gray4);
}
.item-details,
.itens-lst {
  padding-left: 0;
  padding-right: 0;
}
.item-details h1 {
  font-size: 22px;
  font-weight: 500;
}
.item-details h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.1;
  color: inherit;
  margin: 0;
}
.item-details h3 {
  font-size: 16px;
  font-weight: 400;
}
.item-details .descricao {
  padding-top: 2px;
}
.item-details .descricao h3 {
  margin-bottom: 15px;
}
.item-details .descricao p {
  font-size: 15px;
}
.evento-list h1 {
  color: var(--danger);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}
.btn-mapa {
  background-color: var(--secondary-gradient);
  border-color: var(--secondary-gradient);
}
.btn-mapa i {
  margin-right: 6px;
}
.carousel-estabelecimentos .carousel-cell img,
.carousel-ofertas .carousel-cell img,
.carousel-eventos .carousel-cell img {
  max-width: 330px;
}
#estabelecimentos a:hover {
  text-decoration: none;
}
/*Iphone 6/7/8*/
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .icons-head .circle {
    margin: 0 6px;
    width: 58px;
    height: 58px;
  }
}
a.more {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
a.more i {
  font-size: 0.6rem;
}
.carousel-cell {
  margin-right: 10px;
  overflow: hidden;
}
.carousel-cell img {
  display: block;
  height: 160px;
  border-radius: 4px;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 160px;
}
@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 280px;
  }
}
.icons-footer .user img {
  width: 20px;
}
.icons-footer .favoritos img {
  width: 22px;
  height: 21px;
}
.icons-footer .home img {
  width: 20px;
  height: 20px;
}
.icons-footer .filtros img {
  width: 19px;
  padding-top: 1px;
}
.icons-footer .promocoes img {
  width: 20px;
  height: 19px;
}
#own-delivery {
  margin-left: -5px;
}
.desabilitado {
  pointer-events: none;
  background: #ddd;
  color: #666;
}
.indisponivel {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid rgba(255, 0, 0, 0.25);
  border-radius: 3px;
  padding: 6px 10px;
  margin: 8px 0;
  color: #333;
}
.sucesso {
  width: 100%;
  background-color: rgba(0, 255, 0, 0.15);
  border: 1px solid rgba(0, 255, 0, 0.25);
  border-radius: 3px;
  padding: 6px 10px;
  margin: 8px 0;
  color: #333;
}
.relogio {
  display: block;
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.relogio i {
  color: var(--default);
  font-size: 60px;
  display: block;
  margin: 10px 0 5px;
}
.retira_ing {
  width: 100%;
  border: none;
  height: 100px;
}
.retira_ing::placeholder {
  color: #bbb;
  font-style: italic;
}
.stylish-input-group .input-group-addon {
  width: 280px;
}
.dataTables_filter {
  text-align: left !important;
}
.parsley-errors-list {
  color: #b32721;
  list-style: none;
  padding: 0;
  margin: 0;
}
input.parsley-error,
input.parsley-error:focus {
  border-color: #b32721;
}
#thumbnails {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#thumbnails li {
  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;
}
#thumbnails li img {
  width: 100%;
}
/*lista itens*/
.tit,
.tit-search {
  font-weight: 600;
}
.tit-search {
  color: var(--dark);
}
.pages_maincontent .lista img.interna {
  min-width: 100%;
  height: auto;
  border-radius: 4px;
}
.lista img {
  max-width: 75px;
  height: 75px;
  border-radius: 10px;
}
.data-list img {
  height: 18px;
}
.data-list h2 {
  margin-bottom: 5px;
}
.data-list p {
  font-size: 0.95rem;
  line-height: 1.1rem;
  padding-bottom: 0.1rem;
}
.status-aberto,
.status-fechado,
.status-pedido-online {
  height: 17px;
  padding: 1px 10px 1px;
  vertical-align: middle;
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 20px;
}
.splash {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1px;
  height: 1px;
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06),
    -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}
.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1),
.nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.viewport {
  width: var(--screen-width);
  height: var(--screen-height);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--default);
}
.box-title,
.box-title-2,
.box-title-3 {
  color: var(--default);
  /* font-size: 1rem; */
  font-weight: 700;
  border-bottom: 1px solid var(--default);
  margin: 10px 0 0;
  padding-bottom: 10px;
}
.box-title img,
.box-title-2 img,
.box-title-3 img {
  margin-right: 4px;
  vertical-align: middle;
}
.box-title img {
  height: 14px;
}
.box-title-2 img {
  height: 18px;
  padding-bottom: 2px;
}
.box-title-3 img {
  width: 14px;
  height: 20px;
  padding-bottom: 2px;
}
.box-title h2,
.box-title-2 h2,
.box-title-3 h2 {
  font-size: 19px;
  font-weight: 600;
}
.tit-pos-date {
  text-decoration: none !important;
  font-size: 1.2rem;
  color: var(--dark);
  margin-bottom: 5px;
  display: block;
}
.slide-noticias {
  margin-bottom: 10px;
}
/*News*/
.zm-trending-post {
  position: relative;
  overflow: hidden;
}
.zm-post-thumb figure {
  margin-bottom: 0;
}
.zm-post-thumb figure img {
  max-height: 160px;
}
.zm-post-thumb a {
  display: block;
}
.zm-trending-post.zm-lay-d .zm-post-dis {
  width: 100%;
  bottom: 0px;
  padding: 20px 15px 6px 15px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.82) 43%,
    rgba(0, 0, 0, 0.82) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.82) 43%,
    rgba(0, 0, 0, 0.82) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.82) 43%,
    rgba(0, 0, 0, 0.82) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05000000', endColorstr='#d1000000',GradientType=0 );
}
.zm-trending-post .zm-post-dis {
  bottom: 20px;
  left: 0;
  padding: 2px 40px;
  position: absolute;
  z-index: 5;
}
.zm-trending-post .zm-post-dis h2 a {
  color: var(--light-color);
  font-size: 15px;
  line-height: 10px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  filter: drop-shadow(1px 1px 1px #000);
}
.s-meta {
  font-size: 13px;
  font-weight: 400;
  color: var(--light-color);
}
.s-meta i {
  font-size: 12px;
}
.ver-noticia h4 {
  margin-top: 5px;
  font-size: 11px;
}
.ui-content h4 {
  padding-top: 2px;
}
