@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,800&display=swap);@import "reset.css";@import "colors/yellow.min.css?v=201909041352";
body,
html {
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-family: Nunito, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;    
}
body{
    overflow: hidden;
}
* {   
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
}
::-webkit-scrollbar {
    -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
    width: 0
}

::-webkit-scrollbar:horizontal {
    height: 0
}

::-webkit-scrollbar-thumb {
    background-color: var(--default);
    border-radius: 10px;
    border: 1px solid var(--light-color)
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--light-color)
}

@keyframes color_change {
    0% {
        background-color: var(--secondary)
    }
    10% {
        background-color: var(--default)
    }
    20% {
        background-color: var(--secondary)
    }
    30% {
        background-color: var(--default)
    }
    40% {
        background-color: var(--secondary)
    }
    50% {
        background-color: var(--default)
    }
    60% {
        background-color: var(--secondary)
    }
    70% {
        background-color: var(--default)
    }
    80% {
        background-color: var(--secondary)
    }
    90% {
        background-color: var(--default)
    }
    100% {
        background-color: var(--secondary)
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    background: 0 0;
}

#status {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../../img/preloading.gif);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -30px 0 0 -30px
}

.clear {
    clear: both;
    display: block
}

.clearleft {
    clear: both;
    float: left;
    display: block
}

a, a:hover, a:active, a:visited {
    text-decoration: none
}

p {
    padding: 0;
    margin: 0;
    line-height: 20px
}

.text-danger {
    color: var(--danger)!important
}

blockquote {
    padding: 0 0 0 15px;
    margin: 5px 0 15px 0;
    font-size: 16px;
    border-left: 3px solid #ececec;
    line-height: 20px;
    font-weight: 300
}

blockquote span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px
}

.videocontainer {
    max-width: 100%;
    padding: 0;
    display: block;
    margin: 0
}

#homepage:not(input):not(textarea) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.ui-page {
    text-shadow: none;
    -ms-scroll-chaining: none;
    margin-bottom: 40px
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 9999
}

#header form {
    width: 100%
}

.cd-nav-trigger {
    top: 18px;
    right: 5%;
    height: 44px;
    width: 44px;
    z-index: 5;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}

.cd-overlay-content,
.cd-overlay-nav {
    position: fixed;
    top: 18px;
    right: 5%;
    height: 4px;
    width: 4px;
    transform: translateX(-20px) translateY(20px)
}

.cd-overlay-content span,
.cd-overlay-nav span {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    will-change: transform;
    transform: scale(0)
}

.cd-nav-trigger .cd-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 3px;
    background-color: var(--light-color);
    z-index: 10
}

.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: transform .3s
}

.cd-nav-trigger .cd-icon::before {
    transform: translateY(-6px) rotate(0)
}

.cd-nav-trigger .cd-icon::after {
    transform: translateY(6px) rotate(0)
}

.cd-nav-trigger.close-nav .cd-icon {
    background-color: rgba(255, 255, 255, 0)
}

.cd-nav-trigger.close-nav .cd-icon::after,
.cd-nav-trigger.close-nav .cd-icon::before {
    background-color: #fff
}

.cd-nav-trigger.close-nav .cd-icon::before {
    transform: translateY(0) rotate(45deg)
}

.cd-nav-trigger.close-nav .cd-icon::after {
    transform: translateY(0) rotate(-45deg)
}

.cd-nav-trigger::after,
.cd-nav-trigger::before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition-property: transform
}

.cd-nav-trigger::before {
    background-color: #091d23;
    transform: scale(1);
    transition-duration: .3s;
    transition-delay: .4s
}

.cd-nav-trigger::after {
    background-color: var(--cor0);
    transform: scale(0);
    transition-duration: 0s;
    transition-delay: 0s
}

.cd-nav-trigger.close-nav::before {
    transform: scale(0)
}

.cd-nav-trigger.close-nav::after {
    transform: scale(1);
    transition-duration: .3s;
    transition-delay: .4s
}

.btn-atualizar {
    font-size: 100%;
    padding: 2px 12px;
    display: inline-block
}

a.button_full {
    width: 100%;
    display: inline-block;
    color: var(--light-color);
    padding: 10px 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

a.button_small {
    display: inline-block;
    color: var(--light-color);
    padding: 10px 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.call_button a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: var(--light-color);
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

#left-panel {
    width: 8em
}

#right-panel {
    width: 20em
}

.ui-panel .ui-panel-inner {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch
}

.button_container {
    position: fixed;
    top: 12px;
    left: 16px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 9999999;
    transition: opacity .25s ease
}

.button_container:hover {
    opacity: .95
}

.button_container.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: var(--light-color);
    z-index: 9999999
}

.button_container.active .middle {
    opacity: 0;
    background: var(--light-color)
}

.button_container.active .bottom {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: var(--light-color)
}

.button_container span {
    background: var(--light-color);
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer
}

.button_container span:nth-of-type(2) {
    top: 8px
}

.button_container span:nth-of-type(3) {
    top: 16px
}

.overlay {
    position: fixed;
    background: var(--default);
    top: 40px;
    left: 0;
    width: 60%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: calc(100% - 30px);
    z-index: 9999
}

.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s
}

.overlay.open li:nth-of-type(3) {
    animation-delay: .45s
}

.overlay.open li:nth-of-type(4) {
    animation-delay: .5s
}

.overlay.open li:nth-of-type(5) {
    animation-delay: .55s
}

.overlay.open li:nth-of-type(6) {
    animation-delay: .6s
}

.overlay.open li:nth-of-type(7) {
    animation-delay: .65s
}

.overlay.open li:nth-of-type(8) {
    animation-delay: .7s
}

.overlay.open li:nth-of-type(9) {
    animation-delay: .75s
}

.overlay.open li:nth-of-type(10) {
    animation-delay: .8s
}

.overlay.open li:nth-of-type(11) {
    animation-delay: .85s
}

.overlay.open li:nth-of-type(12) {
    animation-delay: .9s
}

.overlay.open li:nth-of-type(13) {
    animation-delay: .95s
}

.overlay nav {
    position: relative;
    top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 20px
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%
}

.overlay ul li {
    display: block;
    list-style-position: inside;
    height: 25%;
    height: calc(100% / 4);
    min-height: 40px;
    position: relative;
    opacity: 0
}

.overlay ul li a {
    display: block;
    position: relative;
    color: var(--light-color);
    text-decoration: none;
    overflow: hidden
}

.overlay ul li a:active:after,
.overlay ul li a:focus:after,
.overlay ul li a:hover:after {
    width: 100%
}

.overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 1px;
    background: var(--light-color);
    transition: .35s
}

.overlay [class^=icon] {
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 10px
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%
    }
    100% {
        opacity: 1;
        left: 0
    }
}

.btn-success {
    color: var(--light-color);
    background-color: var(--success);
    border-color: var(--success)
}
.btn-alternative {
    color: var(--navy);
    background-color: var(--navy);
    border-color: var(--navy)
}
.success {
    background: var(--success)
}

.text-success {
    color: var(--success)!important
}

.user_login_info {
    padding: 0
}

.user_thumb_container {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #000
}

.user_thumb_container img {
    display: block;
    max-width: 100%;
    z-index: 777;
    opacity: .4
}

.user_thumb {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    z-index: 888;
    text-align: center
}

.user_thumb img {
    display: inline-block;
    margin: auto;
    max-width: 30%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    opacity: 1;
    border: 2px var(--light-color) solid
}

.user_details {
    width: 100%;
    padding: 0 0 20px 0
}

.user_details p {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 16px
}

ul.user_social {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0
}

ul.user_social li {
    display: inline-block;
    padding: 0;
    margin: 0 2px;
    width: 10%
}

.user_social img {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    opacity: .6
}

.user-nav {
    padding: 20px 0 0 0;
    width: 100%
}

.user-nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block
}

.user-nav ul li {
    width: 90%;
    list-style: none;
    padding: 5px 0 10px 0;
    margin: 0 0 0 5%;
    display: inline-block;
    text-align: center
}

.user-nav ul li img {
    display: inline-block;
    max-width: 10%;
    float: left
}

.user-nav ul li span {
    display: block;
    float: left;
    text-align: left;
    padding: 5px 0 0 20px
}

.user-nav ul li strong {
    display: block;
    float: right;
    text-align: left;
    margin: 2px 10px 0 0;
    width: 30px;
    height: 20px;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

strong.green {
    background-color: #837f07
}

strong.blue {
    background-color: #077c83
}

strong.yellow {
    background-color: #e4b000
}

.user-nav ul li a {
    color: var(--light-color);
    font-size: 14px;
    font-weight: 300
}

.user-nav ul li a:visited {
    color: var(--light-color)
}

.logo_container {
    width: 100%;
    height: 100%;
    text-align: center
}

.logo {
    margin: 20% 0 0 0
}

.logo img {
    max-width: 100%;
    display: inline-block
}

.logo h2 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
    line-height: 40px
}

.logo span {
    font-size: 20px;
    font-weight: 300;
    color: var(--light-color);
    letter-spacing: 1px;
    padding: 0
}

.slide_info {
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 15px
}

.ui-content {
    position: relative;
    top: 160px;
    margin-bottom: 30px;
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index: 999
}
.ui-content .accordion div.card-body{
    padding:8px
}
.ui-content .accordion div.card-body label{
    font-weight: 600;
}
.ui-content .accordion div.card-body p{
   line-height:1.1em;
   padding-bottom:0
}
.pages_maincontent {
    width: 100%;
    padding: 0;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-transform: translate3d(0,0,0)
}

.page_content {
    width: 90%;
    padding: 0 5%;
    margin: 0 0 20px 0
}

h2.page_title {
    margin: 15px 5%;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    display: inline-block;
    letter-spacing: -.5px
}

h2.page_subtitle {
    font-size: 22px;
    line-height: 25px;
    font-weight: 300;
    padding: 0 0 10px 0;
    margin: 20px 0 10px 0;
    display: inline-block;
    letter-spacing: -.5px
}

.pages_maincontent h3 {
    font-size: 19px;
    margin: 5px 0 20px 0;
    display: block;
    clear: both
}

#collapseThree .card-body h3 {
    margin: 0!important
}

.pages_maincontent p {
    padding: 0 0 10px 0;
    margin: 0;
    clear: both;
    color: var(--dark)
}

.checkout-ok .sucesso p {
    color: var(--success)!important;
    font-weight: 700!important
}

#page- .page_content img {
    display: block;
    max-width: 100%;
    margin: 0 0 20px 0
}

.page_content ul.simple_list {
    padding: 0 0 20px 10px;
    margin: 0;
    list-style: none
}

.page_content ul.simple_list li {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
    background: url(../images/bullet.png) no-repeat left
}

.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
    border: none;
    text-shadow: none
}

.nav_left_button {
    float: left;
    width: 25%;
    text-align: left
}

.nav_left_button a {
    display: block;
    float: left;
    margin: 10px 0 0 18px;
    width: 100%;
    height: 30px
}

.nav-toggle {
    position: relative;
    cursor: pointer;
    padding: 15px 0 0 0;
    z-index: 9999
}

.nav-toggle span,
.nav-toggle span:after,
.nav-toggle span:before {
    cursor: pointer;
    height: 1px;
    width: 26px;
    background: var(--light-color);
    position: absolute;
    display: block;
    content: ""
}

.nav-toggle span:before {
    top: -7px
}

.nav-toggle span:after {
    bottom: -7px
}

.nav-toggle span,
.nav-toggle span:after,
.nav-toggle span:before {
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out
}

.nav-toggle.navtoggleon span {
    background-color: transparent
}

.nav-toggle.navtoggleon span:after,
.nav-toggle.navtoggleon span:before {
    top: 0
}

.nav-toggle.navtoggleon span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    height: 2px
}

.nav-toggle.navtoggleon span:after {
    transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    top: 7px;
    height: 2px
}

.nav_center_logo {
    float: left;
    width: 50%;
    padding: 0;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 6px
}

.nav_center_logo img {
    height: 23px
}

.nav_right_button {
    float: right;
    width: 25%;
    text-align: right
}

.nav_right_button i {
    font-size: 20px
}

.nav_right_button a {
    display: block;
    float: right;
    width: 41px;
    padding: 10px 0 0
}

.nav_right_button a img {
    display: inline-block;
    max-width: 90%;
    padding: 0
}

ul.features_list {
    padding: 0 0 20px 0;
    width: 100%;
    margin: 0;
    list-style: none;
    float: left;
    clear: both
}

ul.features_list li {
    border-bottom: 1px #e6e6e6 solid;
    padding: 5px 2% 10px 2%;
    margin: 5px 0;
    display: block;
    width: 96%;
    float: left;
    clear: both
}

ul.features_list li img {
    display: inline-block;
    max-width: 10%;
    float: left;
    margin: 0
}

ul.features_list li span {
    display: inline-block;
    max-width: 90%;
    padding: 5px 0 0 5%;
    font-weight: 700;
    float: left
}

ul.features_list_detailed {
    padding: 10px 0 30px 0;
    width: 100%;
    margin: 0;
    list-style: none;
    float: left;
    clear: both
}

ul.features_list_detailed li {
    padding: 5px 0 10px 0;
    margin: 0 0 10px 0;
    display: block;
    width: 100%;
    float: left;
    clear: both;
    border-bottom: 1px #ddd solid
}

ul.features_list_detailed li .feat_small_icon {
    width: 15%;
    float: left
}

ul.features_list_detailed li .feat_small_details {
    width: 65%;
    float: left;
    padding: 0 0 0 3%
}

ul.features_list_detailed li .view_more {
    width: 10%;
    float: left;
    margin: 25px 0 0 5%
}

ul.features_list_detailed li .view_more img {
    display: block;
    max-width: 100%
}

ul.features_list_detailed li .feat_small_details p {
    padding: 0 0 10px 0
}

ul.features_list_detailed li .feat_small_details a {
    color: #232323
}

ul.features_list_detailed li .feat_small_icon img {
    display: inline-block;
    max-width: 90%
}

ul.features_list_detailed li .feat_small_details h4 {
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0
}

ul.social_share {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block
}

ul.social_share li {
    width: 32%;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    margin: 0
}

ul.social_share li img {
    margin: auto
}

.container {
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

ul.photo_gallery_13 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    clear: both
}

ul.photo_gallery_13 li {
    width: 31.3%;
    padding: 0;
    margin: 1%;
    display: block;
    float: left
}

ul.photo_gallery_13 li img {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0
}

ul.photo_gallery_12 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
    float: left;
    clear: both
}

ul.photo_gallery_12 li {
    width: 48%;
    padding: 0;
    float: left;
    margin: 1%
}

ul.photo_gallery_12 li img {
    max-width: 100%;
    display: block
}

ul.photo_gallery_11 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
    float: left;
    clear: both
}

ul.photo_gallery_11 li {
    width: 100%;
    padding: 0;
    float: left;
    margin: 0 0 10px 0
}

ul.photo_gallery_11 li img {
    max-width: 100%;
    display: block
}

.blog_content {
    width: 100%;
    padding: 0 0;
    margin: 10px 0 20px 0
}

ul.posts {
    padding: 0 0 40px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    display: inline-block
}

ul.posts li {
    width: 41%;
    padding: 20px 2%;
    margin: 0 0 10px 3%;
    display: inline-block;
    list-style: none;
    background-color: #eee
}

.post_date {
    text-align: left
}

span.day {
    font-size: 60px;
    font-weight: 700;
    line-height: 30px
}

span.month {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    padding: 0 0 0 3px
}

.post_title {
    margin: 0
}

.post_title h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 0
}

.post_title h2 a {
    color: #4a4a4a;
    font-weight: 300;
    text-shadow: 1px 1px var(--light-color)
}

.post_title h2 a:visited {
    color: #4a4a4a;
    font-weight: 300;
    text-shadow: 1px 1px var(--light-color)
}

.post_thumb {
    width: 100%
}

.post_thumb img {
    display: inline-block;
    max-width: 100%
}

.post_details span,
.post_single span {
    display: inline-block;
    padding: 0 5px
}

.post_details span.post_comments,
.post_single span.post_comments {
    background: url(../images/comments.png) no-repeat right;
    padding: 0 20px 0 0
}

#loadMore {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    background-color: #e0e0e0;
    cursor: pointer
}

#loadMore img {
    margin: -30px auto 0 auto;
    max-width: 15%;
    display: block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

#showLess {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #eee;
    cursor: pointer
}

#showLess img {
    margin: -30px auto 0 auto;
    max-width: 15%;
    display: block;
    background-color: #eee;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.entry {
    padding: 0
}

.entry p {
    line-height: 22px
}

.featured_image {
    width: 100%;
    margin: auto;
    position: relative
}

.featured_image img {
    display: block;
    max-width: 100%;
    z-index: 777
}

.post_title_single {
    width: 100%;
    height: auto;
    clear: both
}

.post_title_single h2 {
    font-size: 30px;
    padding: 0 0 20px 0;
    margin: -5px 0 0 0;
    font-weight: 300;
    line-height: 30px
}

.back_btn {
    display: block;
    width: 15%;
    padding: 0;
    margin: 0;
    height: auto;
    float: left
}

.back_btn a img {
    max-width: 100%;
    display: block
}

.post_social {
    display: block;
    width: 15%;
    padding: 0;
    margin: 0;
    height: auto;
    float: right
}

.post_social img {
    display: block;
    max-width: 70%;
    margin: 10px 0 0 0
}

ul.comments {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    width: 100%
}

ul.comments li {
    list-style: none;
    float: left;
    clear: both;
    width: 90%;
    padding: 5% 5% 0 5%;
    margin: 0 0 10px 0;
    background-color: #f5f3eb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.comm_avatar {
    width: 15%;
    display: inline-block;
    float: left
}

.comm_avatar img {
    display: inline-block;
    max-width: 100%
}

.comm_content {
    width: 80%;
    float: left;
    display: inline-block;
    padding: 0 0 0 5%
}

.comm_content p {
    padding: 0;
    margin: 0;
    font-style: italic
}

.contactform {
    width: 100%;
    padding: 0 0 15px 0
}

.contactform label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 700
}

.contactform label.error {
    padding: 0 0 10px 0;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #f65821;
    font-weight: 400
}

.contactform input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
    -webkit-appearance: none
}

.contactform textarea.form_textarea {
    padding: 3%;
    width: 93%;
    height: 50px;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
    -webkit-appearance: none
}

.contactform input.form_submit {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: 10px 0 0 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: var(--light-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none
}

.promocoes .btn-go {
    color: var(--light-color);
    background-color: var(--default-gradient);
    border-color: var(--default-gradient)
}

.form_logo {
    width: 100%;
    text-align: center;
    margin: 50px 0 30px 0;
    font-weight: 700;
    font-size: 20px
}

.content-block-login {
    margin: 20px 0;
    padding: 0 15px
}

.loginform {
    width: 90%;
    padding: 0 0 15px 5%
}

.loginform label.error {
    padding: 0 0 10px 0;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #f65821;
    font-weight: 400
}

.loginform input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
    -webkit-appearance: none
}

.loginform input.form_submit {
    width: 100%;
    padding: 10px 0;
    margin: 15px 0 0 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: var(--light-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none
}

.forgot_pass {
    width: 100%;
    text-align: right
}

.forgot_pass a {
    color: #85970b
}

.signup_bottom {
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0
}

.signup_bottom p {
    opacity: .5;
    padding: 0
}

.signup_bottom a {
    color: #85970b;
    font-weight: 700
}

.signup_social {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0
}

a.signup_facebook {
    background-color: #38579a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 47%;
    display: inline-block;
    padding: 10px 0;
    margin: 0 4% 0 0;
    color: var(--light-color);
    font-size: 12px;
    font-weight: 700
}

a.signup_twitter {
    background-color: #0cacea;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 47%;
    padding: 10px 0;
    display: inline-block;
    color: var(--light-color);
    font-size: 12px;
    font-weight: 700
}

.close_loginpopup_button {
    display: block
}

.close_loginpopup_button a {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 0
}

.close_loginpopup_button a img {
    display: block;
    max-width: 60%;
    margin: auto
}

.commentform {
    width: 100%;
    padding: 20px 0 15px 0
}

.commentform label {
    width: 100%;
    padding: 5px 0 3px 0;
    display: block;
    font-size: 16px;
    font-weight: 700
}

.commentform label.error {
    padding: 0 0 10px 0;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #f65821;
    font-weight: 400
}

.commentform input.form_input {
    padding: 3%;
    width: 93%;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
    -webkit-appearance: none
}

.commentform textarea.form_textarea {
    padding: 3%;
    width: 93%;
    height: 50px;
    margin: 0 0 5px 0;
    border: 1px solid #ddd;
    -webkit-appearance: none
}

.commentform input.form_submit {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: 10px 0 0 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: var(--light-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none
}

.contact_info {
    padding: 0 0 15px 0;
    margin: 5px 0 15px 0;
    font-size: 14px;
    border-bottom: 3px solid #ececec;
    line-height: 22px;
    font-weight: 300
}

#formSubmit img {
    height: 18px;
    vertical-align: middle;
    padding-bottom: 2px
}

.btn-cidade,
.btn-mais-detalhes,
.btn-open-map {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--light-color)!important
}

.btn-cidade {
    font-size: 16px;
    margin-top: 20px!important;
    padding: 2px 5px 5px 5px;
    border-radius: 20px;
}

.btn-mais-detalhes {
    font-size: 16px;
    margin-top: 0!important;
    padding: 0 2px 2px 2px!important
}
.btn-mini {
    font-size: 13px;
    margin-top: 0!important;
    padding: 0 2px 1px 2px!important
}

#tabs {
    padding: 0
}

#tabs h3 {
    padding: 10px 0 10px 0;
    margin: 0;
    font-size: 16px
}

.tabs_content {
    width: 90%;
    padding: 0 5%;
    margin: 0
}

footer {
    width: 100%;
    max-height: 32px;
    z-index: 999;
    position: fixed;
    bottom: 0;
    padding: 6px 10px 2px;
    overflow: hidden;
    overflow-x: hidden
}

@media screen and (max-width:800px) {
    .logo {
        margin: 35% 0 0 0
    }
}

@media screen and (max-width:480px) {
    .logo {
        margin: 35% 0 0 0
    }
    .close_popup_button a {
        left: 40%
    }
    .close_popup_button {
        width: 80%
    }
    .navbarpages {
        height: 50px
    }
    .nav_center_logo a img {
        max-width: 65%;
        padding: 10px 0 0 0
    }
    .nav_left_button a {
        width: 30px;
        margin: 10px 0 0 18px
    }
}

@media (max-width:320px) {
    .icons-head .circle {
        margin: 0 5px!important
    }
    .ui-content {
        top: 160px!important
    }
}

@media (max-width:375px) {
    .ui-content {
        top: 160px!important
    }
}

@media (max-width:375px) {
    .ui-content {
        top: 160px
    }
}

@media (max-width:480px) {
    .ui-content {
        top: 169px
    }
}

@media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation:landscape) {
    .logo {
        margin: 10% 0 0 0
    }
}

@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape) {
    .logo {
        margin: 5% 0 0 0
    }
}